<mat-toolbar style="height: 40px; position: fixed;">
    <div class="col-auto">
        <button mat-raised-button color="warn" (click)="logout();">Logout</button>
    </div>
</mat-toolbar>

<div class="container" *ngIf='searchMemberTable'>
    <div style="height: 40px;" ></div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="memberId">
      <th  class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Member ID</th>
      <td  class="col-sm-1" mat-cell *matCellDef="let m">{{m.memberId}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="physician">
        <th  class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Physician</th>
        <td  class="col-sm-1" mat-cell *matCellDef="let m">{{m.physician}}</td>
      </ng-container>
  
      <ng-container matColumnDef="claimId">
        <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Claim Id</th>
        <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.claimId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="claimAmount">
        <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
        <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.claimAmount}}</td>
      </ng-container>

      <ng-container matColumnDef="submittedDate">
        <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Submitted Date</th>
        <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.submittedDate}}</td>
      </ng-container>

      <ng-container matColumnDef="submitClaim">
        <th class="col-sm-1" mat-header-cell  *matHeaderCellDef >Submit Claim</th>
        <td mat-cell *matCellDef="let m" class="col-sm-1"><button mat-raised-button color="primary" (click)="claimForm(m)" >Claim</button></td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<div class="container"  *ngIf='addClaimForm'>
    <div style="height: 90px;" ></div>

    <div class="container col-md-4 divcard">
        <mat-card>
            <mat-card-title  class="member-card-title" style="text-align: center;">
                <h2>Claim Submission</h2>
            </mat-card-title>
                <mat-card-content>
                    <mat-card-title style="text-align: center;">
                        <h4><b>MEMBER ID: {{searchMember.memberId}}</b></h4>
                    </mat-card-title>
                    <form #findMemberForm="ngForm" (ngSubmit)="claimSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Claim Type</mat-label>
                                    <mat-select [(value)]="claimTypeSelected" required>
                                      <mat-option value="Vision">Vision</mat-option>
                                      <mat-option value="Dental">Dental</mat-option>
                                      <mat-option value="Medical">Medical</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Claim Amount</mat-label>
                                <input matInput type="number" placeholder="Claim Amount" name="claimAmout" [(ngModel)]="claim.claimAmount" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="Claim Date" [matDatepicker]="picker1"
                                name="claimDate" id="claimDate" required (click)="picker1.open()"  [(ngModel)]="claim.claimDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Remarks</mat-label>
                                <input matInput type="text" placeholder="Remarks" name="remarks" [(ngModel)]="claim.remarks" required>
                            </mat-form-field>
                        </div>
                    
                        <button mat-raised-button color="primary">Submit Claim</button>
                        <button mat-raised-button color="warn" (click)="cancel();">Cancel</button>
                    </form>
                  </mat-card-content>
        </mat-card>
    </div>
</div>